!!! 5
html(lang='en')
  head
    title Flipkart Seller Central 
    meta(charset='utf-8')
  body
    div Hello World
    div
      form(action="/login", method="POST")
        div
          span Username
          input(type="text", name="username")
        div
          span Password
          input(type="password", name="password")
        div
          button(type="submit") Login
